{%- block doctype %}<!doctype html itemscope itemtype="http://schema.org/Blog">
{%- endblock %}

<html lang="en">
  <head>
    <meta itemprop="creator" content="Elia Karagiannis">
    <meta itemprop="name" content="www.eliakaris.com">
    <meta itemprop="description" content="Personal blog for Elia Karagiannis">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {%- block meta %}{%- endblock %}
    <title>{% block title %}Elia Karagiannis{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" href="/rss"/>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">

    {%- block head %}{%- endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Elia Karagiannis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" {% if section == "home" %}class="active"{% endif %}>Home</a></li>
            <li><a href="/blog" {% if section == "blog" %}class="active"{% endif %}>Archive</a></li>
            <li><a href="/about" {% if section == "about" %}class="active"{% endif %}>About</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <section id="content">
      {%- block content_full %}
      <div class="container">
        {%- block content %}{%- endblock %}
      </div>
      {%- endblock %}
    </section>

    <footer class="footer">
      <div class="container navbar">
        <hr />

        <div itemscope itemtype="http://data-vocabulary.org/Person" class="hidden">
          <span itemprop="name">Elia Karagiannis</span>,
          <a href="http://www.eliakaris.com" itemprop="url">eliakaris.com</a>
          <span itemprop="address" itemscope
            itemtype="http://data-vocabulary.org/Address">
            <span itemprop="locality">Seattle</span>,
            <span itemprop="region">Washington</span>
          </span>
          <span itemprop="title">Software Development Engineer</span>
          <span itemprop="affiliation">Microsoft</span>
        </div>

        <p>© 2013 - 2014 <a href="/about">Elia Karagiannis</a> ∙ <a href="http://twitter.com/eliakaris">Follow @eliakaris</a> ∙ <a href="https://github.com/eliakaris/blog">View source</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </body>
</html>
