<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>Elia Karagiannis</title>
    <description>RSS feed for eliakaris.com</description>
    <link>http://www.eliakaris.com</link>
    <lastBuildDate>{{ entries[0].pub_date_rfc822 }}</lastBuildDate>
    <pubDate>{{ entries[0].pub_date_rfc822 }}</pubDate>
    <ttl>720</ttl>
    {% for entry in entries %}
    <item>
      <title>{{ entry.title }}</title>
      <link>http://www.eliakaris.com/{{ entry.slug }}</link>
      <description>{{ entry.html|escape }}</description>
      <author>eliakaris@hotmail.com (Elia Karagiannis)</author>
      <guid>http://www.eliakaris.com/{{ entry.slug }}</guid>
      <pubDate>{{ entry.pub_date_rfc822 }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
