header.masthead {
  background-image: url('/img/home-bg2.png');
}

.hidden {
  display: none;
}

pre {
  border: 1px solid #ccc;
  border-radius: 4px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 13px;
  font-family: Courier New, Courier, monospace;
  box-shadow: 5px 5px 5px #ccc;
}

header.masthead .site-heading {
  padding: 120px 0;
}