header.masthead {
  background-image: url('/img/home-bg2.png');
}

.hidden {
  display: none;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  word-wrap: break-word;
  word-break: break-all;
  padding: 9.5px;
  font-size: 13px;
  font-family: Courier New, Courier, monospace;
}